name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      # 切换到 vitepress 目录执行 npm 安装依赖（仅路径修正）
      - run: cd vitepress && npm install

      - name: Build
        # 切换到 vitepress 目录执行 npm 构建命令（仅路径修正）
        run: cd vitepress && npm run docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # 修正构建产物路径
          publish_dir: ./vitepress/docs/.vitepress/dist