name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
       #添加写权限（必须！）
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm install --frozen-lockfile
      - name: Install dependencies
        run: npm install --force  # 强制重装依赖，避免缓存
      - name: Clean VitePress cache
        run: rm -rf .vitepress/cache  # 清空VitePress构建缓存
      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TECHLOG }}
          publish_dir: docs/.vitepress/dist

